apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "bifrost.fullname" . }}-backend
  labels:
    {{- include "bifrost.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "bifrost.selectorLabels" . | nindent 6 }}
      component: backend
  template:
    metadata:
      labels:
        {{- include "bifrost.labels" . | nindent 8 }}
        component: backend
      annotations:
        kubectl.kubernetes.io/default-container: {{ .Chart.Name }}
    spec:
      serviceAccountName: {{ include "bifrost.name" . }}
      securityContext:
        seccompProfile:
          type: RuntimeDefault
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.backend.image.repository }}:{{ .Values.backend.image.tag }}"
          imagePullPolicy: {{ .Values.backend.image.pullPolicy }}
          args: ["run"]
          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
            runAsGroup: 1000
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop:
                - ALL
          env:
            # Top level
            - name: BIFROST_PORT
              value: "8080"
            - name: BIFROST_HOST
              value: "0.0.0.0"
            - name: BIFROST_VERSION
              value: {{ .Values.backend.image.tag | quote }}
            - name: GIN_MODE
              value: {{ if .Values.backend.debugEnabled }}debug{{ else }}release{{ end }}
            # Google
            - name: BIFROST_GOOGLE_PROJECT_ID
              value: {{ .Values.backend.google.projectId | quote }}
            # Teams
            - name: BIFROST_TEAMS_API_URL
              value: {{ .Values.backend.teams.apiUrl | quote }}
            - name: BIFROST_TEAMS_API_TOKEN
              valueFrom:
                secretKeyRef:
                  name: {{ include "bifrost.fullname" . }}-backend
                  key: {{ .Values.backend.teams.apiTokenSecretKey }}
            # Unleash
            - name: BIFROST_UNLEASH_SQL_INSTANCE_ID
              value: {{ .Values.backend.unleash.sqlInstanceId | required ".unleash.sqlInstanceId is required" | quote }}
            - name: BIFROST_UNLEASH_SQL_INSTANCE_ADDRESS
              value: {{ .Values.backend.unleash.sqlInstanceAddress | required ".unleash.sqlInstanceAddress is required" | quote }}
            - name: BIFROST_UNLEASH_SQL_INSTANCE_REGION
              value: {{ .Values.backend.unleash.sqlInstanceRegion | required ".unleash.sqlInstanceRegion is required" | quote }}
            - name: BIFROST_UNLEASH_INSTANCE_NAMESPACE
              value: {{ .Values.backend.unleash.instanceNamespace | required ".unleash.instanceNamespace is required" | quote }}
            - name: BIFROST_UNLEASH_INSTANCE_SERVICEACCOUNT
              value: {{ .Values.backend.unleash.kubernetesServiceAccountName | required ".unleash.kubernetesServiceAccountName is required" | quote }}
            - name: BIFROST_UNLEASH_INSTANCE_WEB_INGRESS_CLASS
              value: {{ .Values.backend.unleash.webIngressClass | required ".unleash.webIngressClass is required" | quote }}
            - name: BIFROST_UNLEASH_INSTANCE_WEB_INGRESS_HOST
              value: {{ .Values.backend.unleash.webIngressHost | required ".unleash.webIngressHost is required" | quote }}
            - name: BIFROST_UNLEASH_INSTANCE_API_INGRESS_CLASS
              value: {{ .Values.backend.unleash.apiIngressClass | required ".unleash.apiIngressClass is required" | quote }}
            - name: BIFROST_UNLEASH_INSTANCE_API_INGRESS_HOST
              value: {{ .Values.backend.unleash.apiIngressHost | required ".unleash.apiIngressHost is required" | quote }}
            - name: BIFROST_UNLEASH_INSTANCE_WEB_OAUTH_JWT_AUDIENCE
              value: {{ .Values.backend.unleash.webOAuthJWTAudience | required ".unleash.webOAuthJWTAudience is required" | quote }}
            - name: BIFROST_UNLEASH_INSTANCE_TEAMS_API_URL
              value: {{ .Values.backend.unleash.teamsApiUrl | required ".unleash.teamsApiUrl is required" | quote }}
            - name: BIFROST_UNLEASH_INSTANCE_TEAMS_API_SECRET_NAME
              value: {{ .Values.backend.unleash.teamsApiTokenSecretName | required ".unleash.teamsApiTokenSecretName is required" | quote }}
            - name: BIFROST_UNLEASH_INSTANCE_TEAMS_API_TOKEN_SECRET_KEY
              value: {{ .Values.backend.unleash.teamsApiTokenSecretKey | required ".unleash.teamsApiTokenSecretKey is required" | quote }}
            {{- if .Values.backend.unleash.defaultReleaseChannel }}
            - name: BIFROST_UNLEASH_DEFAULT_RELEASE_CHANNEL
              value: {{ .Values.backend.unleash.defaultReleaseChannel | quote }}
            {{- end }}
            {{- if .Values.backend.unleash.migration.enabled }}
            - name: BIFROST_UNLEASH_MIGRATION_ENABLED
              value: "true"
            - name: BIFROST_UNLEASH_MIGRATION_TARGET_CHANNEL
              value: {{ .Values.backend.unleash.migration.targetChannel | quote }}
            - name: BIFROST_UNLEASH_MIGRATION_HEALTH_TIMEOUT
              value: {{ .Values.backend.unleash.migration.healthTimeout | quote }}
            - name: BIFROST_UNLEASH_MIGRATION_DELAY
              value: {{ .Values.backend.unleash.migration.delay | quote }}
            {{- end }}
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /healthz
              port: http
          readinessProbe:
            httpGet:
              path: /healthz
              port: http
          resources:
            {{- toYaml .Values.backend.resources | nindent 12 }}
